<div class="container-fluid hidden-print">
    <div class="row">
        <div class="col-md-2">
            <a href="{{ path('voucher_search') }}">
                <img alt="Brand" src="{{ asset('assets/img/logo.png') }}">
            </a>
        </div>
        <div class="col-md-3 col-md-offset-3">
            <a href="{{ path('voucher_search') }}" class="btn btn-default navbar-btn">{{ 'search'|trans }}</a>
            <a href="{{ path('voucher_create') }}" class="btn btn-default navbar-btn">{{ 'create'|trans }}</a>
            <a href="{{ path('voucher_all') }}" class="btn btn-default navbar-btn">{{ 'all.vouchers'|trans }}</a>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <a href="{{ path('user_profile') }}" class="navbar-text">{{ 'my.account'|trans }}</a>
            <a href="{{ path('fos_user_security_logout') }}" class="navbar-text">{{ 'logout'|trans }}</a>
        </div>
    </div>
</div>
