{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div>
        <img class="center-block" src="{{ asset('assets/img/logo.png') }}" alt="logo">
        <br />
        <br />
    </div>

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input id="username" name="_username" value="{{ last_username }}"
           class="form-control" autofocus required/>

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" class="form-control" required />

    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <a href="{{ path('fos_user_resetting_request') }}">{{ 'resetting.request.submit'|trans }}</a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
        </div>
    </div>
</form>
