{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if submitted %}
        {{ 'user.successfully.edited'|trans }} <br />
    {% else %}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.canCreateOnlineVouchers) }}
        {{ form_row(form.shop) }}
        {{ form_row(form.roles) }}

        {{ form_row(form.save, { 'label': 'Edit' }) }}
        {{ form_end(form) }}
    {% endif %}

    <br />
    <a href="{{ path('user_management') }}">{{ 'back'|trans }}</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}