{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'all.users'|trans }}
    </h1>

    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>{% trans %}name{% endtrans %}</th>
                    <th>{% trans %}email{% endtrans %}</th>
                    <th>{% trans %}shops{% endtrans %}</th>
                    <th>{% trans %}vouchers.created{% endtrans %}</th>
                    <th>{% trans %}user.type{% endtrans %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td></td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.shops|join("; ") }}</td>
                        <td>{{ user.createdVouchers|length }}</td>
                        <td>
                            {% if 'ROLE_ADMIN' in user.roles %}
                                {{ 'administrator'|trans }}
                            {% else %}
                                {{ 'employee'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('edit_user', {'id': user.id}) }}">{{ 'edit.user'|trans }}</a>
                            |
                            {% if user.enabled %}
                                <a href="{{ path('suspend_user', {'id': user.id, 'value':0 }) }}">{{ 'suspend.user'|trans }}</a>
                            {% else %}
                                <a href="{{ path('suspend_user', {'id': user.id, 'value':1 }) }}">{{ 'unsuspend.user'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% if currentPage > 1 %}
        <a href="{{ path('user_management', {'page': currentPage - 1}) }}">{{ 'previous.page'|trans }}</a>
    {% endif %}

    {% if currentPage < numberOfPages %}
        <a href="{{ path('user_management', {'page': currentPage + 1}) }}">{{ 'next.page'|trans }}</a>
    {% endif %}

    <a href="{{ path('create_user') }}" class="btn btn-success">{{ 'create.user'|trans }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
