{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    All vouchers <br />

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.created_at) }}

    {{ form_row(form.search, { 'label': 'Search' }) }}
    {{ form_end(form) }}

    <a href="{{ path('voucher_all') }}">{{ 'reset.filter'|trans }}</a> <br />

    {% for voucher in vouchers %}
        <p>
            {{ 'voucher.code'|trans }} {{ voucher.voucherCode }} <br />
            {{ 'creation.date'|trans }} {{ voucher.creationDate|date("d/m/Y") }}
            {{ 'expiration.date'|trans }} {{ voucher.expirationDate|date("d/m/Y") }} <br />
            {{ 'original.voucher.value'|trans }} {{ voucher.originalValue }} <br />
            {{ 'postal.charge'|trans }} NO DATA HERE YET <br />
            {{ 'amount.used'|trans }} {{ voucher.partialPayment }} <br />
            {{ 'amount.remaining'|trans }} {{ voucher.originalValue - voucher.partialPayment }} <br />
            {{ 'created.by'|trans }} {{ voucher.author }} <br />
            {{ 'created.at'|trans }} {{ voucher.shopWhereCreated.name }} <br />
        </p>
    {% else %}
        <p>
            {{ 'no.vouchers'|trans }}
        </p>
    {% endfor %}

    {% if hasPreviousPage %}
        <a href="{{ path('voucher_all', {'page': currentPage - 1, 'created_at': app.request.get('created_at')}) }}">{{ 'previous.page'|trans }}</a>
    {% endif %}

    {% if hasNextPage %}
        <a href="{{ path('voucher_all', {'page': currentPage + 1, 'created_at': app.request.get('created_at')}) }}">{{ 'next.page'|trans }}</a>
    {% endif %}

    <a href="#">{{ 'print.selected.vouchers'|trans }}</a>
    <a href="{{ path('user_export_vouchers') }}">{{ 'export.list'|trans }}</a> <br />

    <a href="{{ path('voucher_homepage') }}">{{ 'back'|trans }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}