{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if submitted %}
        {{ 'you.have.successfully.used.the.voucher'|trans }}
    {% else %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.usage) }}
        {{ form_row(form.used_for) }}
        {{ form_row(form.partial_amount) }}
        {{ form_row(form.use, { 'label': 'Use' }) }}
        {{ form_end(form) }}
    {% endif %}

    <br />
    <a href="{{ path('voucher_search') }}">{{ 'back'|trans }}</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}