{% extends 'base.html.twig' %}

{% block body %}
    <h2>{% trans %}voucher.details{% endtrans %}</h2>

    <div class="create-voucher">
        <div class="row">
            <div class="col-md-8">
                {{ 'voucher.code'|trans }} {{ voucher.voucherCode }} <br />
                {% if voucher.onlineVoucher %}
                    {{ 'is.online.voucher' }} <br />
                    {{ 'voucher.order.number'|trans }} {{ voucher.orderNumber }} <br />
                    {{ 'voucher.invoice.number'|trans }} {{ voucher.invoiceNumber }} <br />
                    {{ 'is.included.postal.charges'|trans }}
                    {% if voucher.includedPostalCharges %}
                        {{ 'yes'|trans }} {{ '1.5.euros.tax.has.been.applied.to.original.voucher.value' }} <br />
                    {% else %}
                        {{ 'no'|trans }} <br />
                    {% endif %}
                {% endif %}
                {{ 'creation.date'|trans }} {{ voucher.creationDate|date("m/d/Y") }} <br/>
                {{ 'expiration.date'|trans }} {{ voucher.expirationDate|date("m/d/Y") }} <br/>
                {{ 'created.by'|trans }} {{ voucher.author }} <br />
                {{ 'created.at'|trans }} {{ voucher.shopWhereCreated.name }} <br />
                {{ 'number.of.users' }}
                {% for user in voucher.numberOfUsers %}
                    {{ user }}
                {% endfor %} <br />
            </div>
            <div class="col-md-4">
                <svg id="barcode" data-code="{{ voucher.voucherCode }}"></svg>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{ 'voucher.original.value'|trans }} {{ voucher.remainingValue + voucher.partialPayment}}&#8364 <br />
                {{ 'voucher.remaining.value'|trans }} {{ voucher.remainingValue }}&#8364 <br />
                {{ 'voucher.payment'|trans }} <br />
                {% for payment in voucher.payments %}
                    - {{ payment }} <br />
                {% else %}
                    - {{ 'no.payments.have.been.made'|trans }}
                {% endfor %}<br />
                {{ 'voucher.method.of.payment'|trans }} {{ voucher.methodOfPayment }} <br />
                {{ 'can.be.used.for'|trans }}
                {% for usage in voucher.usages %}
                    {{ usage }}
                {% else %}
                    {{ 'no.usages.set'|trans }}
                {% endfor %}
                <br /><br />
                {{ 'you.can.use.this.voucher.in.shop'|trans }} <br />
                {{ voucher.shopWhereCreated.name }}
                {{ voucher.shopWhereCreated.address }} <br />
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="{{ path('voucher_edit') }}" class="btn btn-warning">{% trans %}edit{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/createVoucherFormHandling.js') }}" charset="utf-8"></script>
    <script src="{{ asset('assets/js/barcode.js') }}"></script>
{% endblock %}
