{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% if submitted %}
        {{ 'voucher.preview'|trans }} <br /><br />

        {{ 'creation.date'|trans }} {{ voucher.creationDate|date("m/d/Y") }} <br />
        {{ 'expiration.date'|trans }} {{ voucher.expirationDate|date("m/d/Y") }} <br />
        {{ 'voucher.value'|trans }} {{ voucher.originalValue }} <br />
        {{ 'can.be.used.for'|trans }}
        {% for usage in voucher.usages %}
            {{ usage }}
        {% else %}
            {{ 'no.usages.set'|trans }}
        {% endfor %}
        <br />
        {{ 'you.can.use.voucher.in.any.shop'|trans }}: <br />
        {% for shop in shops %}
            {{ shop.name }} {{ shop.address }} <br />
        {% else %}
            {{ 'no.shops'|trans }}
        {% endfor %}
        <br />

        <a href="{{ path('voucher_save') }}">{{ 'save.voucher'|trans }}</a> <br />
        <a href="{{ path('voucher_create') }}">{{ 'edit'|trans }}</a> <br />
        <a href="">{{ 'print'|trans }}</a> <br />
    {% else %}
        {{ 'create.voucher'|trans }}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.onlineVoucher) }}
        {{ form_row(form.originalValue) }}
        {{ form_row(form.numberOfUsers) }}
        {{ form_row(form.usages) }}
        {{ form_row(form.methodsOfPayment) }}
        {{ form_row(form.expirationDate) }}

        {{ form_row(form.create, { 'label': 'Create Voucher' }) }}
        {{ form_end(form) }}
    {% endif %}

    <br />
    <a href="{{ path('voucher_homepage') }}">{{ 'back'|trans }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}