{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ 'all.vouchers'|trans }} <br />

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.created_at) }}

    {{ form_row(form.search, { 'label': 'Search' }) }}
    {{ form_end(form) }}

    <a href="{{ path('voucher_all_reset_filters') }}">{{ 'reset.filter'|trans }}</a> <br />

    {% for voucher in vouchers %}
        <p>
            {{ 'voucher.code'|trans }} {{ voucher.voucherCode }} <br />
            {{ 'creation.date'|trans }} {{ voucher.creationDate|date("d/m/Y") }}
            {{ 'expiration.date'|trans }} {{ voucher.expirationDate|date("d/m/Y") }} <br />
            {{ 'original.voucher.value'|trans }} {{ voucher.originalValue }} <br />
            {{ 'postal.charge'|trans }}
            {% if voucher.includedPostalCharges %}
                {{ 'included'|trans }}
            {% else %}
                {{ 'not.included'|trans }}
            {% endif %}<br />
            {{ 'amount.used'|trans }} {{ voucher.partialPayment }} <br />
            {{ 'amount.remaining'|trans }} {{ voucher.originalValue - voucher.partialPayment }} <br />
            {{ 'created.by'|trans }} {{ voucher.author }} <br />
            {{ 'created.at'|trans }} {{ voucher.shopWhereCreated.name }} <br />
        </p>
    {% else %}
        <p>
            {{ 'no.vouchers'|trans }}
        </p>
    {% endfor %}

    {% if currentPage > 1 %}
        <a href="{{ path('voucher_all', {'page': currentPage - 1}) }}"> {{ 'previous.page'|trans }} </a>
    {% endif %}

    {% if currentPage < numberOfPages %}
        <a href="{{ path('voucher_all', {'page': currentPage + 1}) }}" > {{ 'next.page'|trans }} </a>
    {% endif %}

    <a href="#"> {{ 'print.selected.vouchers'|trans }} </a>
    <a href="{{ path('user_export_vouchers') }}">{{ 'export.list'|trans }}</a> <br />

    <a href="{{ path('voucher_homepage') }}">{{ 'back'|trans }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}