{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ form_start(searchForm) }}
        {{ form_errors(searchForm) }}
        {{ form_row(searchForm.vouchercode) }}
        {{ form_row(searchForm.search, { 'label': 'Search' }) }}
    {{ form_end(searchForm) }}

    {% if submitted == true %}
        {% if voucher != null %}
            {{ 'creation.date'|trans }} {{ voucher.creationDate|date("d/m/Y") }} <br />
            {{ 'expiration.date'|trans }} {{ voucher.expirationDate|date("d/m/Y") }} <br />
            {{ 'created.by'|trans }} {{ voucher.author }} <br />
            {{ 'created.at'|trans }} {{ voucher.shopWhereCreated.name }} <br />
            {{ 'created.for'|trans }} {{ voucher.designatedCustomer }} <br />
            {{ 'original.voucher.value'|trans }} {{ voucher.originalValue }} <br />
            {{ 'partial.payment'|trans }} {{ voucher.partialPayment }} <br />
            {{ 'remaining.sum'|trans }} {{ voucher.originalValue - voucher.partialPayment }} <br />

            {{ 'you.can.use.this.voucher.in.shops'|trans }} <br />

            {% for shop in shops %}
                {{ shop.name }}
                {{ shop.address }} <br />
            {% endfor %}
            <br />
            <a href="">{{ 'use.voucher'|trans }}</a> <br />
            <a href="">{{ 'print.voucher'|trans }}</a>
            <br />
        {% else %}
            {{ 'voucher.with.code.doesnt.exist'|trans }}
        {% endif %}
    {% endif %}

    <br />
    <a href="{{ path('voucher_homepage') }}">{{ 'back'|trans }}</a>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}