{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .hidden {
            display: none;
        }
    </style>

{% endblock %}

{% block body %}
    {% if submitted %}
        {{ 'voucher.preview'|trans }} <br /><br />

        {{ 'creation.date'|trans }} {{ voucher.creationDate|date("m/d/Y") }} <br />
        {{ 'expiration.date'|trans }} {{ voucher.expirationDate|date("m/d/Y") }} <br />
        {{ 'voucher.value'|trans }} {{ voucher.originalValue }} <br />
        {{ 'can.be.used.for'|trans }}
        {% for usage in voucher.usages %}
            {{ usage }}
        {% else %}
            {{ 'no.usages.set'|trans }}
        {% endfor %}
        <br />
        {{ 'you.can.use.voucher.in.any.shop'|trans }}: <br />
        {% for shop in shops %}
            {{ shop.name }} {{ shop.address }} <br />
        {% else %}
            {{ 'no.shops'|trans }}
        {% endfor %}
        <br />

        <a href="{{ path('voucher_save') }}">{{ 'save.voucher'|trans }}</a> <br />
        <a href="{{ path('voucher_edit') }}">{{ 'edit'|trans }}</a> <br />
        <a href="">{{ 'print'|trans }}</a> <br />
        <br />
        <a href="{{ path('voucher_edit') }}">{{ 'back'|trans }}</a>
    {% else %}
        {{ 'create.voucher'|trans }}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {% if app.user.canCreateOnlineVouchers %}
            {{ form_row(form.onlineVoucher) }}
                {{ form_label(form.orderNumber, null, {'label_attr': {'class': 'hidden'}}) }}
                {{ form_widget(form.orderNumber, {'attr': {'class': 'hidden'}}) }}
                <br />
                {{ form_label(form.invoiceNumber, null, {'label_attr': {'class': 'hidden'}}) }}
                {{ form_widget(form.invoiceNumber, {'attr': {'class': 'hidden'}}) }}
                <br />
                {{ form_label(form.includedPostalCharges, null, {'label_attr': {'class': 'hidden'}}) }}
                {{ form_widget(form.includedPostalCharges, {'attr': {'class': 'hidden'}}) }}
                <br />
        {% endif %}

        {{ form_row(form.originalValue) }}
        {{ form_row(form.numberOfUsers) }}
        {{ form_row(form.usages) }}
            {{ form_label(form.massage_type, null, {'label_attr': {'class': 'hidden', 'for': 'massage_type_label'}}) }}
            {{ form_widget(form.massage_type, {'attr': {'class': 'hidden'}}) }}
            <br />
                {{ form_label(form.time_for_massage, null, {'label_attr': {'class': 'hidden', 'for': 'time_for_massage'}}) }}
                {{ form_widget(form.time_for_massage, {'attr': {'class': 'hidden'}}) }}
                <br />
            {{ form_label(form.time_for_floating, null, {'label_attr': {'class': 'hidden', 'for': 'time_for_floating'}}) }}
            {{ form_widget(form.time_for_floating, {'attr': {'class': 'hidden'}}) }}
            <br />
        {{ form_row(form.methodOfPayment) }}
        {{ form_row(form.expirationDate) }}

        {% if app.session.get('voucher') %}
            {{ form_row(form.create, { 'label': 'Edit Voucher' }) }}
            <br />
            <a href="{{ path('voucher_homepage') }}">{{ 'return.to.homepage'|trans }}</a>
        {% else %}
            {{ form_row(form.create, { 'label': 'Create Voucher' }) }}
            <br />
            <a href="{{ path('voucher_homepage') }}">{{ 'back'|trans }}</a>
        {% endif %}

        {{ form_end(form) }}
    {% endif %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.js') }}" charset="utf-8"></script>
    <script src="{{ asset('assets/js/createVoucherFormHandling.js') }}" charset="utf-8"></script>
{% endblock %}