{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(searchForm) }}
        {{ form_errors(searchForm) }}
        {{ form_row(searchForm.vouchercode) }}
        {{ form_row(searchForm.search, { 'label': 'Search' }) }}
    {{ form_end(searchForm) }}


    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>{{ 'voucher.code'|trans }}</th>
                    <th>{{ 'creation.date'|trans }}</th>
                    <th>{{ 'expiration.date'|trans }}</th>
                    <th>{{ 'original.voucher.value'|trans }}</th>
                    <th>{{ 'postal.charge'|trans }}</th>
                    <th>{{ 'amount.used'|trans }}</th>
                    <th>{{ 'amount.remaining'|trans }}</th>
                    <th>{{ 'created.by'|trans }}</th>
                    <th>{{ 'created.at'|trans }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for voucher in matchedVouchers %}
                    <tr>
                        <td>{{ voucher.voucherCode }}</td>
                        <td>{{ voucher.creationDate|date("d/m/Y") }}</td>
                        <td>{{ voucher.expirationDate|date("d/m/Y") }}</td>
                        <td>{{ voucher.remainingValue + voucher.partialPayment }} &euro;</td>
                        <td>{{ voucher.includedPostalCharges ? 1.5 : 0 }}</td>
                        <td>{{ voucher.partialPayment }} &euro;</td>
                        <td>{{ voucher.remainingValue }} &euro;</td>
                        <td>{{ voucher.author }}</td>
                        <td>{{ voucher.shopWhereCreated.name }}</td>
                        <td>
                            {% if voucher.remainingValue > 0 and (not voucher.blocked) %}
                                <a href="{{ path('voucher_use', {id: voucher.id}) }}">{{ 'use.voucher'|trans }}</a>
                                |
                            {% endif %}
                            <a href="{{ path('voucher_details', {id: voucher.id}) }}">{{ 'details'|trans }}</a> |
                            {% if voucher.blocked %}
                                {{ 'blocked'|trans }}
                            {% else %}
                                <a href="{{ path('voucher_block', {id: voucher.id, parentRoute: 'voucher_search', page: currentPage}) }}">{{ 'block'|trans }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if currentPage > 1 %}
            <a href="{{ path('voucher_all', {'page': currentPage - 1}) }}"> {{ 'previous.page'|trans }} </a>
        {% endif %}

        {% if currentPage < numberOfPages %}
            <a href="{{ path('voucher_all', {'page': currentPage + 1}) }}"> {{ 'next.page'|trans }} </a>
        {% endif %}
    </div>
{% endblock %}
