{% extends 'base.html.twig' %}

{% block body %}
    {% if submitted %}
        <h2>{% trans %}voucher.preview{% endtrans %}</h2>

        <div class="create-voucher">
            <div class="row">
                <div class="col-md-8">
                    {{ 'creation.date'|trans }} {{ voucher.creationDate|date("m/d/Y") }} <br/>
                    {{ 'expiration.date'|trans }} {{ voucher.expirationDate|date("m/d/Y") }} <br/>
                    {{ 'created.by'|trans }} {{ voucher.author }}
                </div>
                <div class="col-md-4">
                    <svg id="barcode" data-code="{{ voucher.voucherCode }}"></svg>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ 'voucher.value'|trans }} {{ voucher.originalValue }}
                    {{ 'can.be.used.for'|trans }}
                    {% for usage in voucher.usages %}
                        {{ usage }}
                    {% else %}
                        {{ 'no.usages.set'|trans }}
                    {% endfor %}

                    {{ 'you.can.use.voucher.in.any.shop'|trans }}: <br/>
                    {% for shop in shops %}
                        {{ shop.name }} {{ shop.address }} <br/>
                    {% else %}
                        {{ 'no.shops'|trans }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="{{ path('voucher_save') }}" class="btn btn-success">
                    {% trans %}button.voucher.create{% endtrans %}
                </a>
                <a href="{{ path('voucher_create') }}" class="btn btn-warning">{% trans %}edit{% endtrans %}</a>
                <a href="" class="btn btn-default">{{ 'print'|trans }}</a>
            </div>
        </div>
    {% else %}
        <h2>{{ 'create.voucher'|trans }}</h2>

        <div class="create-voucher">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_row(form.onlineVoucher, { attr: { class: "manager" } }) }}
            <div class="interactive hidden" data-managed-by="voucher_onlineVoucher">
                {{ form_row(form.orderNumber) }}
                {{ form_row(form.invoiceNumber) }}
                {{ form_row(form.includedPostalCharges) }}
            </div>
            {{ form_row(form.originalValue) }}
            {{ form_row(form.numberOfUsers) }}
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.usages) }}
                </div>
                <div class="col-md-9">
                    <div class="interactive hidden" data-managed-by="voucher_usages_0">
                        {{ form_row(form.massage_type) }}
                    </div>
                    <div class="interactive hidden" data-managed-by="voucher_massage_type" data-manager-val="0">
                        {{ form_row(form.time_for_massage) }}
                    </div>
                    <div class="interactive hidden" data-managed-by="voucher_usages_1">
                        {{ form_row(form.time_for_floating, {'form_group_class': {'class': 'hidden'}}) }}
                    </div>
                </div>
            </div>
            {{ form_row(form.methodOfPayment) }}
            {{ form_row(form.expirationDate) }}
        </div>
        <br />
        <button type="submit" class="btn btn-success center-block">{% trans %}button.voucher.create{% endtrans %}</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/createVoucherFormHandling.js') }}" charset="utf-8"></script>
    <script src="{{ asset('assets/js/barcode.js') }}"></script>
{% endblock %}
