{% extends 'base.html.twig' %}

{% block body %}
    <h2>{% trans %}voucher.details{% endtrans %}</h2>

    <div class="create-voucher">
        <div class="row">
            <div class="col-md-8">
                {{ 'voucher.code'|trans }}: {{ voucher.voucherCode }} <br />
                {% if voucher.blocked %}
                    <div class="hidden-print">{{ 'voucher.is.blocked'|trans }}</div>
                {% endif %}
                <div class="hidden-print">
                    {% if voucher.onlineVoucher %}
                        {{ 'online.voucher'|trans }} <br />
                        {{ 'voucher.order.number'|trans }}: {{ voucher.orderNumber }} <br />
                        {{ 'voucher.invoice.number'|trans }}: {{ voucher.invoiceNumber }} <br />
                        {{ 'is.included.postal.charges'|trans }}:
                        {% if voucher.includedPostalCharges %}
                            {{ 'yes'|trans }} 1.5€ <br />
                        {% else %}
                            {{ 'no'|trans }} <br />
                        {% endif %}
                    {% endif %}
                </div>
                {{ 'creation.date'|trans }}: {{ voucher.creationDate|date("d/m/Y") }} <br/>
                {{ 'expiration.date'|trans }}: {{ voucher.expirationDate|date("d/m/Y") }} <br/>
                <div class="hidden-print">{{ 'created.by'|trans }} {{ voucher.author }}</div> <br />
                {{ 'created.at'|trans }}: {{ voucher.shopWhereCreated.name }} <br />
                <div class="hidden-print">
                    {{ 'number.of.users'|trans }}:
                    {% for user in voucher.numberOfUsers %}
                        {{ user }}
                    {% endfor %} <br />
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <svg id="barcode" data-code="{{ voucher.voucherCode }}"></svg>
            </div>
        </div>
        <div class="row hidden-print">
            <div class="col-md-12">
                <div class="hidden-print">{{ 'voucher.original.value'|trans }}: {{ voucher.remainingValue + voucher.partialPayment}}&#8364 <br /></div>
                <div class="hidden-print">{{ 'voucher.remaining.value'|trans }}: {{ voucher.remainingValue }}&#8364 <br /></div>
                <div class="hidden-print">
                    {{ 'voucher.payment'|trans }}: <br />
                    {% for payment in voucher.payments %}
                        - {{ payment }} <br />
                    {% else %}
                        - {{ 'no.payments.have.been.made'|trans }}
                    {% endfor %}<br />
                </div>
                <div class="hidden-print">{{ 'voucher.method.of.payment'|trans }}: {{ voucher.methodOfPayment }} <br /></div>
                <div class="hidden-print">
                    {{ 'can.be.used.for'|trans }}: <br />
                    {% for usage in voucher.usages %}
                        - {{ usage }} <br />
                    {% else %}
                        {{ 'no.usages.set'|trans }}
                    {% endfor %}
                    <br /><br />
                </div>
                {{ 'you.can.use.this.voucher.in.shop'|trans }}: <br />
                {{ voucher.shopWhereCreated.name }}
                {{ voucher.shopWhereCreated.address }} <br />
            </div>
        </div>
    </div>
    <br>
    <div class="hidden-print"><a href="{{ path('voucher_search') }}">{{ 'back.to.homepage'|trans }}</a></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/createVoucherFormHandling.js') }}" charset="utf-8"></script>
    <script src="{{ asset('assets/js/barcode.js') }}"></script>
{% endblock %}
