{% extends 'base.html.twig' %}

{% block body %}
    {% if submitted %}
        <h2>{{ 'you.have.successfully.used.the.voucher'|trans }}</h2>
        <br />
        <a href="{{ path('voucher_search') }}">{{ 'back.to.homepage'|trans }}</a>
    {% else %}
        <h2>Voucher {{ voucher.voucherCode }}</h2>
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {% if voucher.type.id == 1 %}
            {{ form_row(form.complete_use, { attr: { class: "manager" } }) }}
            <div id="partial_amount_div" class="hidden">
                {{ 'remaining.value'|trans}}: {{  voucher.remainingValue }} €
                {{ form_row(form.partial_amount) }}
            </div>
        {% endif %}

        {{ form_row(form.info) }}

        <button class="btn btn-success">{{ 'use.voucher'|trans }}</button>
        <a class="btn btn-default" href="{{ path('voucher_search') }}">{{ 'back.to.homepage'|trans }}</a>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/createVoucherFormHandling.js') }}" charset="utf-8"></script>
    <script src="{{ asset('assets/js/barcode.js') }}"></script>
    <script>
        $( document ).ready(function() {
            var completeUse = $("#use_value_complete_use_1");

            if (completeUse.is(':checked')) {
                $("#voucher_use_partial_amount").attr("required", true);
                $("#partial_amount_div").removeClass("hidden");
            }

            completeUse.on("click", function() {
                $("#voucher_use_partial_amount").attr("required", true);
                $("#partial_amount_div").removeClass("hidden");
            });

            $( "#use_value_complete_use_0" ).on("click", function() {
                $("#voucher_use_partial_amount").attr("required", false);
                $("#partial_amount_div").addClass("hidden");
            });
        });
    </script>
{% endblock %}
